/* Cuadrado responsive con elemento fantasma */
.responsive-ghost {
    text-align: center;
    white-space: nowrap; /*Para evitar los saltos de línea y perder el centrado vertical*/
    &::before{
        content: '';
        display: inline-block;
        padding-top: 100%;
        vertical-align: middle;
        margin-left: -4px; /* Quitamos los 4px de espacio por defecto del os elementos inline-block*/
    }
}


/* Texto cuadrado */
.text-center {
    white-space: normal; /*Con saltos de línea sin perder el centrado vertical*/
    display: inline-block;
    vertical-align: middle;
}