.vinyeta_text_subrallado {
  padding-left: 1em; /*Para que quede separado del texto*/
  position: relative; /* Para poder posicionar en absoulte el pseudoelemento*/
  &::before {
    content: "";
    display: block;
    height: 6px;
    width: 6px;
    background-color: #189ed3;
    position: absolute;
    left: 0;
    top: 0.3em; /*Lo posiicionamos al centro, variara segon el tipo de tipografia*/
  }

  &::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #e7e7df;
    width: 2.5rem;
    position: relative;
    top: 0.4em;
  }
}
